[submodule "Assets/Plugins/submodules/NebulaWarsSharedCode"]
	path = Assets/Plugins/submodules/NebulaWarsSharedCode
	url = https://github.com/shhar/NebulaWarsSharedCode
[submodule "Assets/Resources/Shared3dModels"]
	path = Assets/Resources/Shared3dModels
	url = https://github.com/shhar/Shared3dModels
[submodule "Assets/Plugins/submodules/EntitasCore"]
	path = Assets/Plugins/submodules/EntitasCore
	url = https://github.com/shhar/EntitasCore.git
